body {
  color: #0f1123;
  background-color: #f9f7f7;
}

h1 {
  color: red;
  font-size: 100px;
}

img:hover{
  background-color: gold;
}

/****** CLASS SELECTORS ******/
.bacon{
  background-color: green;
  width: 120px;
  height: 120px;
}

.broccoli{
  background-color: red;
  width: 120px;
  height: 120px;
}

.circular{
  border-radius: 100%;
}

/****** ID SELECTORS ******/

#heading{
  color: blue;
}

#big{
  font-size:200px;
}
