body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 110%;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 60px;
}

.middle-container {}

.bottom-container {}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.soft {
  text-decoration: underline;
}

.cloud-top {
  position: absolute;
  left: 60%;
}

.cloud-bottom {
  position: absolute;
  left: 30%;
}

.img-skill-1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.img-skill-2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/* clear (anti-float, clearing the same clear of the associated img)
.desc-skill-1{
  clear: left;
}

.desc-skill-2{
  clear: right;
}
*/
