body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 110%;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 60px;
}

.middle-container {}

.bottom-container {}

.cloud-top {
  position: absolute;
  left: 60%;
}

.cloud-bottom {
  position: absolute;
  left: 30%;
}

.img-skill-1 {
  height: 200px;
  width: 200px:
}

.img-skill-2 {
  height: 200px;
  width: 200px:
}

.soft {
  text-decoration: underline;
}
