body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 75px;
}

.middle-container {}

.bottom-container {}

.cloud-top {
  position: absolute;
  left: 60%;
}

.cloud-bottom {
  position: absolute;
  left: 30%;
}

.img-skill-1 {
  height: 200px;
  width: 200px:
}

.img-skill-2 {
  height: 200px;
  width: 200px:
}

.soft {
  text-decoration: underline;
}
